script#article(type="text/x-handlebars")
	div.row-fluid.
		{{outlet upperSearch}}
	div.row-fluid
		div.span4.
			{{outlet articleInfo}}
		div.span8.
			{{outlet articlePdf}}

script#article-pdf(type="text/x-handlebars")
	| <iframe width="100%" height="100%" {{bindAttr src="filepath"}}></iframe>
