mixin horizontal-input(inputName, inputLabel)
	div.control-group
		label.control-label(for=inputName)= inputLabel
		div.controls
			input(type="text", name=inputName)

mixin horizontal-textarea(inputName, inputLabel)
	div.control-group
		label.control-label(for=inputName)= inputLabel
		div.controls
			textarea(name=inputName)
		
script#upper-search(type="text/x-handlebars")
	div#upper-bar.span12
		div.span2
			h1 BIG Busca
		form.form-inline(name="search")
			div.span4.offset1
				input.input-block-level(type="text", name="query")
			div.span1.
				<button class="btn btn-primary" {{action query}} />Buscar</button>
	
script#article-info(type="text/x-handlebars")
	h1 {{title}}
	p {{abstract}}
