doctype
html
	head
		meta(charset="utf-8")
		title BIG - Banco Integrado Geogr&aacute;fico
		
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/libs/bootstrap.min.css")
		link(rel="stylesheet", href="css/libs/bootstrap-responsive.min.css")

		link(rel="stylesheet", href="css/big.min.css")
	body
		script(type="text/x-handlebars")
			div.container-fluid.
				{{outlet}}

		include commons
		include search
		include results
		include article
		include upload	

		script(src="js/libs/jquery-1.9.1.js")
		script(src="js/libs/bootstrap.min.js")
		script(src="js/libs/handlebars-1.0.0-rc.4.js")
		script(src="js/libs/ember-1.0.0-rc.5.js")
		script(src="js/app.js")
