script#results(type="text/x-handlebars")
	div.row-fluid
		| {{outlet upperSearch}}
	div#results.row-fluid
		hr
		div.span7.
			{{outlet articleList}}
		div.span4.
			{{outlet articleInfo}}

script#article-list(type="text/x-handlebars")
	ul.article-list
		| {{#each controller}}
		li
			h2 {{title}}
			h3 {{year}} - {{author}}
			| {{institution}}/{{periodic}} ({{classification}})
			| {{csl keywords}}
			| {{#linkTo results.info this}}Detalhes{{/linkTo}}
		| {{else}}
		| Nenhum resultado para sua busca //Needs some CSS magic!
		| {{/each}}	
