script#upload(type="text/x-handlebars")
	div.row-fluid
		h1 Novo artigo
		form.form-horizontal(name="upload", method="post", action="/article", 
				accept-charset="utf-8", enctype="multipart/form-data")
			mixin horizontal-input("id", "ID")
			mixin horizontal-input("title", "T&iacute;tulo")
			mixin horizontal-input("author", "Autor")
			mixin horizontal-input("institution", "Peri&oacute;dico/Institui&ccedil;&atilde;o")
			mixin horizontal-input("year", "Ano de Publica&ccedil;&atilde;o")
			mixin horizontal-input("keywords", "Palavras-chave")
			mixin horizontal-input("classification", "Classifica&ccedil;&atilde;o CAPES")	
			mixin horizontal-textarea("abstract", "Resumo")
			mixin horizontal-file("filepdf", "PDF")
			div
				input.btn.btn-primary(type="submit", value="Upar artigo")
