script#upper-search(type="text/x-handlebars")
	div.span2
		h1 BIG
	div.span9
		form(method="post", name="search")
			input(type="text", name="query")
			input.btn.btn-primary(type="submit", value="Buscar")
		
script#article-info(type="text/x-handlebars")
	h1 {{title}}
