script#articles(type="text/x-handlebars")
	div.row-fluid
		| {{outlet upperSearch}}
	div.row-fluid
		div.span8.
			{{outlet articleList}}
		div.span4.
			{{outlet articleInfo}}

script#article-list(type="text/x-handlebars")
	ul
		| {{#each model}}
		li 
			|{{#linkTo 'article' this}}
			h3 {{title}}
			|{{/linkTo}}

			span {{author}}
			p {{abstrac}}
			|{{#linkTo 'articles.info' this}}Detalhes{{/linkTo}}
		| {{/each}}		
		



