[/]
request.dispatch: cherrypy.dispatch.MethodDispatcher()

tools.staticdir.root: os.getcwd()
tools.staticfile.root: os.getcwd()

tools.encode.on: False
tools.gzip.on: True
tools.gzip.mime_types: ['text/html', 'text/plain', 'application/json', 'text/javascript', 'application/javascript']

tools.sessions.on: True
#tools.sessions.storage_type: "file"
tools.sessions.storage_path: os.path.join(os.getcwd(), "sessions")
tools.sessions.timeout: 60

tools.mako.collection_size: 500
tools.mako.directories: "app/view"


#[/static]
#tools.etags.on: True
tools.staticdir.on: True
tools.staticdir.dir: "static"

