doctype
html
	head
		meta(charset="utf-8")
		title BIG - Banco Integrado Geográfico
		
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/libs/bootstrap.min.css")
		link(rel="stylesheet", href="css/libs/bootstrap-responsive.min.css")
	body
		script(type="text/x-handlebars")
			div.container-fluid
				div.row-fluid.
					{{outlet}}

		script#search(type="text/x-handlebars")
			div#search-div.span4.offset4
				h1 BIG Search
				| {{outlet}}
		
		script(id!="search/index",type="text/x-handlebars")
			form(method="post", name="search")
				input(type="text", name="query")
				input(type="submit", value="I submit")
		
		script(id!="search/adv",type="text/x-handlebars")
			form(method="post", name="adv-search")
				input(type="text", name="title")
				input(type="text", name="author")
				input(type="submit", value="I submit")
				
		script(src="js/libs/jquery-1.9.1.js")
		script(src="js/libs/bootstrap.min.js")
		script(src="js/libs/handlebars-1.0.0-rc.3.js")
		script(src="js/libs/ember-1.0.0-rc.3.js")
		script(src="js/app.js")
