doctype
html
	head
		meta(charset="utf-8")
		title BIG - Banco Integrado Geográfico
		
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/libs/bootstrap.min.css")
		link(rel="stylesheet", href="css/libs/bootstrap-responsive.min.css")

		link(rel="stylesheet", href="css/big.min.css")
	body
		script(type="text/x-handlebars")
			div.container-fluid.
				{{outlet}}

		script#search(type="text/x-handlebars")
			div.row-fluid
				div#search-div.span4.offset4
					h1 Busca BIG
					| {{outlet}}
		
		script(id!="search/index",type="text/x-handlebars")
			form(method="post", name="search")
				input.input-block(type="text", name="query")
				input.btn.btn-primary(type="submit", value="Buscar")
			button.btn.btn-info.
				{{#linkTo 'search.adv'}}Busca avançada{{/linkTo}}
		
		script(id!="search/adv",type="text/x-handlebars")
			form(method="post", name="adv-search")
				input(type="text", name="title")
				input(type="text", name="author")
				input.btn.btn-primary(type="submit", value="Buscar")
			button.btn.btn-info.
				{{#linkTo 'search.index'}}Busca simples{{/linkTo}}

		script#articles(type="text/x-handlebars")
			div.row-fluid.
				{{outlet upperSearch}}
			div.row-fluid
				div.span6.
					{{outlet articleList}}
				div.span6.
					{{outlet articleInfo}}

		script#upper-search(type="text/x-handlebars")
			h1 BIG
			form(method="post", name="search")
				input(type="text", name="query")
				input.btn.btn-primary(type="submit", value="Buscar")
		
		script#article-list(type="text/x-handlebars")
			ul
				| {{#each model}}
				li 
					h3 {{title}}
					span {{author}}
					p {{abstrac}}
					|{{#linkTo 'articles.info' this}}Detalhes{{/linkTo}}
				| {{/each}}		
		

		script#article-info(type="text/x-handlebars")
			h1 {{title}}
		
		script(src="js/libs/jquery-1.9.1.js")
		script(src="js/libs/bootstrap.min.js")
		script(src="js/libs/handlebars-1.0.0-rc.3.js")
		script(src="js/libs/ember-1.0.0-rc.3.js")
		script(src="js/libs/ember-data-latest.min.js")
		script(src="js/app.js")
